In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [40]:
df = pd.read_csv("winequality-white.csv", sep=';')

In [41]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [42]:
# Feature / Target 분리
X = df.drop("quality", axis=1)
y = df["quality"]

In [43]:
# 학습/테스트 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [44]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [58]:
models = {
    "LR": LogisticRegression(max_iter=2000, solver='saga'),
    "DT": DecisionTreeClassifier(random_state=42),
    "RF": RandomForestClassifier(random_state=42),
    "KNN": KNeighborsClassifier()
}

In [59]:
for name, model in models.items():
    if name == "LR":
        model.fit(X_train_scaled, y_train)
        y_pred = model.predict(X_test_scaled)
    else:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
    
    acc = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy: {acc:.4f}")
    
    if name == "LR":
        print("기울기(가중치):", model.coef_)
        print("절편:", model.intercept_)

LR Accuracy: 0.5490
기울기(가중치): [[ 0.55194214  0.45356363 -0.19973128 -0.36898874  0.18648519  0.53162704
   0.03421469  0.45065889  0.0644272  -0.36095332 -0.16043636]
 [-0.11183871  0.65237147 -0.10227982 -1.17016816  0.29183002 -0.6691632
  -0.0979624   1.00345649 -0.24647939 -0.04994535 -0.62298493]
 [-0.41901909  0.29821052  0.01686427 -0.61657576  0.21404915 -0.10789971
   0.10751372  0.66066748 -0.47150152 -0.1024955  -0.85599265]
 [-0.47022009 -0.31139608  0.05922143 -0.13304104  0.21081633  0.01961094
   0.06787546  0.34412272 -0.39733563  0.06504381  0.08315611]
 [-0.0204927  -0.46463431 -0.04418571  0.89486197 -0.0939354   0.13236762
   0.04137361 -1.08080091  0.04629155  0.2396482   0.15219343]
 [-0.13550764 -0.46963938  0.03213591  1.20213835  0.10485335  0.29394114
  -0.01677365 -1.17386896  0.10769713  0.1556705   0.54844642]
 [ 0.60513609 -0.15847586  0.23797521  0.19177339 -0.91409864 -0.20048385
  -0.13624144 -0.20423571  0.89690066  0.05303166  0.85561799]]
절편: [-2.24085271 -0.31520437  2.42668534  3.12856597  1.79972537 -0.10815824
 -4.69076136]
DT Accuracy: 0.5878
RF Accuracy: 0.6847
KNN Accuracy: 0.4449